@media only screen and (max-width: 1200px) {
	
	.container { width: 960px; }	
	/*.logo { max-width: 235px; height: auto; }*/
	.header_search { width: 180px; }
	.feat_text { width: 385px; }
	.full_logo_cont { width: 500px }
	.feat_item_title { left: 0; }
	
	.header_menu { max-width: 650px; }
	.header_menu ul li { margin-right: 8px; font-size: 14px; }
	#slideshow_cont {  width: 960px; height: 420px; }
	.slide_box img, .slide_box iframe { width: 960px; height: 420px; }
	
	.slide_prev, .slide_next { position: absolute; top: 50%; margin-top: -20px; z-index: 50; cursor: pointer; }
	
	.list_carousel li {
		margin: 0 10px 0 0;
		width: 313px;
	}
	.list_carousel li img { width: 313px; height: 300px; }	
	.list_carousel li iframe { width: 313px; height: 300px; }	
	
	.home_left { float: left; width: 630px; }
	
	.home_post_box { width: 231px; margin-right: 12px; }
	.home_post_box img,
	.home_post_box iframe { width: 231px; height: 202px; }
	.home_post_box_last { margin-right: 0; }
	.home_box iframe, .home_box img  { height: 260px; }
	
	.box_left p { margin-top: 30px; text-align: justify; font-size: 16px; font-family: 'Lato', sans-serif; letter-spacing: 1px; font-weight:300; line-height: 150%; color: #222;}
	
	.archive_cont .home_post_box { margin-right: 30px; }
	.archive_cont .home_post_box_last { margin-right: 0; }	
	
	.single_left { width: 630px; }
	.home_blog_box { margin-right: 8px; width: auto; }
	.home_blog_box img,
.home_blog_box iframe { max-width: 100%; width: 650px; height: 360px; float:right; transition:all 0.3s ease-in-out; }
	.home_blog_box_last { margin-right: 0; }
	
	.center_cont { float: right; width:600px; margin-top: 20px; margin-bottom: 18px; }
	
	.archive_title { margin-bottom: 20px; font-size: 23px; }
	.archive_box { margin-right: 15px; font-size: 13px; width: 310px; }
	.archive_box img,
	.archive_box iframe { width: 310px; height: 208px; }
	.archive_box_last { margin-right: 0; }
	
	#sidebar { width: 300px; }
	
	.footer_box_col { width: 296px; margin-right: 36px; }
	.footer_box_col_last { margin-right: 0; }
	
	.single_inside_content img { max-width: 100%; height: inherit; }
	.single_inside_content iframe { width: 630px; height: 360px;}
	
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.container { width: 748px; }
	
	
	.slicknav_menu { display: block; position: relative; z-index: 99999; margin-right: 10px; }
	
	#header { position: absolute; display: none; }
	.header_spacing { display: block; margin-bottom: 25px; }
	#head_cont { margin: 25px 0;}
	.feat_text { float: left; }
	.home_box img,
	.home_box iframe { height: 210px;}
	
	.box_left h3 { font-size: 20px; font-family: 'Lato', sans-serif; letter-spacing: 1px; font-weight:900; line-height: 120%; color: #222; text-transform: uppercase; }
	
	.box_left p { margin-top: 57px; text-align: justify; font-size: 14px; font-family: 'Lato', sans-serif; letter-spacing: .5px; font-weight:400; line-height: 150%; color: #222;}
	
	.wid_box_col .textwidget { font-size: 14px; font-family: 'Lato', sans-serif; letter-spacing: 1px; font-weight:400; line-height: 130%; color: #333; }
	
	.wid_box_col h3 { font-size: 22px; font-family: 'Lato', sans-serif; letter-spacing: 1px; font-weight:900; line-height: 130%; color: #222;}
	
	.wid_box_col_last {
  margin-left:0px;
  margin-right:0;
}
	
	
	.center_cont { width: auto; }
	#slideshow_cont {  width: 748px; height: 320px; }
	.slide_box img, .slide_box iframe { width: 748px; height: 320px;  }	
	
	.slide_prev, .slide_next { position: absolute; top: 50%; margin-top: -20px; z-index: 50; cursor: pointer; }
	
	.header_social { display: none; }
	.header_social_mid { display: block; float: right; margin: 10px 0;}
	.header_menu { display: none; }
	/*#header { top: 55px; }
	ul.slicknav_nav { position: relative; z-index: 99999; }*/
	.slicknav_menu { /*height: 45px;*/ }
/*	#header { text-align: center; }	
	#header { position: absolute; top: 55px; width: 100%;  }*/
/*	.header_spacing { display: none; }*/
/*	.logo { float: none; margin: 0; }*/
	.list_carousel li {
		margin: 0 10px 0 0;
		width: 242px;
	}
	.widet_top { margin-bottom: 30px; }
	.list_carousel li img { width: 242px; height: 232px; }	
	.list_carousel li iframe { width: 242px; height: 232px; }	
	.home_left { width: 510px; }
	
	.home_post_box { width: 181px; margin-right: 8px; }
	.home_post_box img,
	.home_post_box iframe { width: 181px; height: 158px; }
	.home_post_box_last { margin-right: 0; }
	.box_left p { margin-top: 20px;}
	
	.archive_cont .home_post_box { margin-right: 6px; margin-bottom: 10px; }
	.archive_cont .home_post_box_last { margin-right: 0; }		
	
	.single_left { width: 520px; }
	.single_full { width: auto; }
	
	.home_blog_box { margin-right: 8px; }
		.home_blog_box img,
.home_blog_box iframe { max-width: 100%; width: 420px; height: 230px; float:right; transition:all 0.3s ease-in-out; }
.home_blog_box h3 { font-size: 20px; font-family: 'Lato', sans-serif; letter-spacing: 1px; font-weight:900; line-height: 140%; color: #222; margin-top: 0; }
	.home_blog_box_last { margin-right: 0; }
	
	.box_left p { margin-top: 30px; text-align: justify; font-size: 16px; font-family: 'Lato', sans-serif; letter-spacing: 1px; font-weight:400; line-height: 130%; color: #222;}
	
	.archive_box { margin-right: 15px; font-size: 12px; width: 239px; margin-bottom: 20px; }
	.archive_box img,
	.archive_box iframe { width: 239px; height: 160px; }
	.archive_box_last { margin-right: 0; }
	.archive_box_tcell { line-height: 15px; }
	.archive_box h3 { font-size: 19px; }
	
	#sidebar { width: 200px; }
	.t1_search_cont input[type=text] { width: 100px; }
	.t1_search_cont input[type=submit] {  width: 70px; }		
	
	.footer_box_col { width: 229px; margin-right: 20px; }
	
	.single_inside_content img { max-width: 100%; height: inherit; }
	.single_inside_content iframe { width: 510px; height: 290px;}
	
	h1.single_title { font-size: 20px; font-family: 'Lato', sans-serif; letter-spacing: 1px; font-weight:700; line-height: 120%; color: #333; margin: 0 0 20px;  padding-right: 110px; text-transform: uppercase;  }
	
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { 
	.container { width: 300px; }
	
	#header { position: static; width: auto; }
	.slicknav_menu { display: block; position: relative; z-index: 99999; margin-right: 10px; }
	#head_cont { margin: 0px 0;}
	.feat_text { width: auto}
	#slideshow_cont {  width: 300px; height: 128px; margin-bottom: 10px; margin-top: 10px; }
	.slide_box img, .slide_box iframe { width: 300px; height: 128px;  }	
	
	.slide_prev, .slide_next { position: absolute; top: 50%; margin-top: -20px; z-index: 50; cursor: pointer; }
	
/*	#header { text-align: center; }	
	#header { position: absolute; top: 25px; width: 100%;  }*/
/*	#header .container {  }
	.logo { float: none; margin: 0; }*/
	.header_menu { display: none; }
	.header_social { float: none; padding-bottom: 10px; text-align: center; padding-top: 10px; }
	.header_menu ul li { margin-right: 20px; }
	.header_social img { margin: 0 1px;}
	.header_search { float: none; margin: 15px auto; }
	.header_bottom { padding-bottom: 0; }
	.logo_cont { float: none; text-align: center; max-width: 300px; }
	.full_logo_cont { float: none; width: 280px; margin-left: auto; margin-right: auto; padding: 0;}
	.header_right_text { float: none; width: auto; width: 280px; margin-left: auto; margin-right: auto; }
	.slider_text { width: 280px; left: 50%; margin-left: -140px; }
	.slider_text_inside { padding: 8px 10px; font-size: 16px; }	
	
	.home_posts_cont { float: left; margin: 0 }
	.box_left { float: none; width: auto; }
	.box_left h3 { font-size: 18px }
	.box_left p { margin-top: 15px; font-size: 14px; font-weight:400; }
	.box_right { float: none; width: auto; }
	.home_post_box .left { float: none; width: auto;  margin-bottom: 15px; }
	.home_post_box .left img,
	.home_post_box .left iframe { width: 300px; height: 127px; }
	.home_post_box .right { min-height: 50px; width: auto; padding-bottom: 25px; float: none; }
	.home_post_read_line { width: 180px; }
	.home_box { /*float: left; width: 555px;*/ /*margin-right: 60px;*/ margin-bottom: 30px; width: 100%; }
	.home_box iframe, .home_box img  { height: 170px; }
	.grid-sizer { width: 100%; }
	.gutter-sizer { width: 0%; }	
	
	.home_left { width: auto; float: none; }
	
	.home_post_box { float: none; width: auto; margin: 0 auto 20px; }
	.home_post_box img,
	.home_post_box iframe { width: 300px; height: 263px; max-width: 100%; }
	.home_post_box_last { margin-right: auto; }	
	
	.archive_cont .home_post_box { margin-right: auto; margin-bottom: 20px; }
	.archive_cont .home_post_box_last { margin-right: auto; }			
	.stalac_box { margin-left: 10px; }
	
	.single_left { float: none; width: auto; margin-bottom: 25px; }
	.single_full { width: auto; }
	
	.home_blog_box { margin: 0 auto 20px; width: 300px; }
	.home_blog_box img,
	.home_blog_box iframe { width: 300px; height: auto; }
	.home_blog_box_last { margin-right: auto; }
	
	.feat_item_title { padding: 5px; }
	.feat_item_title .home_blog_meta{ display: none;}
	.feat_item_title h3 { margin-top: 140px; font-size: 18px; }
	
	.center_cont {  margin-top: 80px; }
	
	.archive_box { margin: 0; font-size: 12px; width: auto; margin-bottom: 20px; }
	.archive_box img,
	.archive_box iframe { width: 300px; height: 201px; }
	.archive_box_last { margin-right: 0; }
	.archive_box_tcell { line-height: 15px; }
	.archive_box h3 { font-size: 19px; }
	
	#commentform textarea { max-width: 280px; }		
	#sidebar { float: none; width: auto; }	
	.t1_search_cont input[type=text] { width: 210px; }
	.t1_search_cont input[type=submit] {  width: 80px; }		
	
	.footer_box_col { float: none; width: auto; padding: 10px 0 10px; margin: 0; }
	.footer_copyright .left { float: none; margin-bottom: 15px; }
	.footer_copyright .right { text-align: center; float: none; }
	.wid_box_col h3 { font-size: 18px; font-family: 'Lato', sans-serif; letter-spacing: 1px; font-weight:900; line-height: 130%; color: #222;}
	.wid_box_col .textwidget { font-size: 15px; }
	.home_box img { height: auto}
	#content { padding: 0;}
	.widget_top { margin-bottom: 30px; }
	.box_left { margin: 0; }
	.single_inside_content img { width: 300px; height: 169p }
	.single_inside_content iframe { width: 300px; height: 169px; }
	
	h1.single_title { font-size: 20px; font-family: 'Lato', sans-serif; letter-spacing: 1px; font-weight:700; line-height: 120%; color: #333; margin: 0 0 20px;  padding-right: 80px; text-transform: uppercase;  }
	
	.wid_box_col {
    float: left;
    margin-right: 3%;
    width: 90%;
}
	
	.feat_text { float: right; width: 300px; margin-bottom: 10px}
		.wid_box_col_last {
  margin-left:0px;
  margin-right:0;
}
	
}